<main>
 <h2>User Summary: <a><%=@user.name%></a></h2>
 <p>Joined site: <a><%=@user.created_at.strftime("%m/%d/%Y")%></a></p>

  <section class="user-votes__container">
    <h3 class="user-votes__header">Votes</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Media Title</th>
          <th>Created By</th>
          <th>Published</th>
          <th>Category</th>
          <th>Voted On</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><a><%= link_to Work.last.title, work_path(Work.last.id) %></a></td>
            <td>Alice Wu</td>
            <td>2020</td>
            <td>Movie</td>
            <td>May 13, 2020</td>
          </tr>
      </tbody>
    </table>
  </section>

  <a class="btn btn-secondary" href="/users">See all Users</a>
  <a class="btn btn-primary" href="/">Back to Media List</a>
</main>
